@import '../../core/styles/theme';

.payment-form {
  @extend .feature-component;
  max-width: 600px;
  margin: 0 auto;

  h2 {
    margin-bottom: $spacing-2xl;
    text-align: center;
  }

  form {
    @extend .card;
  }
}
